<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebPaymentAPISoapBinding"/>
        <binding name="DirectPaymentAPISoapBinding"/>
        <binding name="ExtendedAPISoapBinding"/>
        <binding name="WebPaymentAPISoapBinding1"/>
        <binding name="DirectPaymentAPISoapBinding1"/>
        <binding name="ExtendedAPISoapBinding1"/>
        <binding name="WebPaymentAPISoapBinding2"/>
        <binding name="DirectPaymentAPISoapBinding2"/>
        <binding name="ExtendedAPISoapBinding2"/>
        <binding name="WebPaymentAPISoapBinding3"/>
        <binding name="DirectPaymentAPISoapBinding3"/>
        <binding name="ExtendedAPISoapBinding3"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://host/V4/services/WebPaymentAPI" binding="basicHttpBinding" bindingConfiguration="WebPaymentAPISoapBinding" contract="WebPaymentAPI.WebPaymentAPI" name="WebPaymentAPI"/>
      <endpoint address="http://host/V4/services/WebPaymentAPI" binding="basicHttpBinding" bindingConfiguration="WebPaymentAPISoapBinding1" contract="WebPaymentAPI.WebPaymentAPI" name="WebPaymentAPI1"/>
      <endpoint address="http://host/V4/services/WebPaymentAPI" binding="basicHttpBinding" bindingConfiguration="WebPaymentAPISoapBinding2" contract="WebPaymentAPI.WebPaymentAPI" name="WebPaymentAPI2"/>
      <endpoint address="http://host/V4/services/WebPaymentAPI" binding="basicHttpBinding" bindingConfiguration="WebPaymentAPISoapBinding3" contract="WebPaymentAPI.WebPaymentAPI" name="WebPaymentAPI3"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
